*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  }
      header{
          border: 1px solid black;
          background-color: rgb(255, 255, 255);
          position: fixed;
          width: 100%;
          background-color: rgb(255, 255, 255);
          z-index: 1000;
          border: 1px solid black;
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
          
          
 
   
   
      }
      .socialIcons i{
        text-decoration: none;
        padding: 10px;
        background-color: rgb(255, 255, 255);
        margin-top: -20px;
       
        border-radius: 50%;
        float: right;
      }
    
  
      
      .right{
         
          background: white;
          padding: 3em 0 3em 0;
          flex: 2 2 300px;
          margin-left: 20px;
      } 
      .main{
          display: flex;
          flex:1;
         
      }

      .left{
          background: white;
          padding: 3em 0 3em 0;
          flex: 2 2 300px;
      }



      .content{
          display: flex;
          flex: 1;
          
      }









/**********************table*********************************************************************/


      .right2{
         
        background: white;
        padding: 3em 0 3em 0;
        flex: 2 2 300px;
        margin-left: 20px;
     
    } 
    .main2{
        display: flex;
        flex:1;
        margin-bottom: 20px;
       
    }

    .left2{
        background: white;
        padding: 3em 0 3em 0;
        flex: 2 2 300px;
     
    }
    .eventTable{
       
        background: rgb(0, 0, 0);
        padding: 3em 0 3em 0;
        flex: 5 5 150px;
        height: 500px;
        width: 100%;
        border-radius: 50px;
       
       
        
       

    }
    table{
        width: 100%;
        overflow-x: auto; 
        border-collapse: collapse;
        margin-top: 20px;
        
        
       
        
    }
    th{
        color: white;
        

    }
 
    td{
        text-align: center;
        height: 50px;
        width: 50px;
    }
    
   
    




/**************************************************************************************************************************/




      main{
      
          background: rgb(255, 0, 43);
          padding: 3em 0 3em 0;
          flex: 5 5 150px;
          height: 300px;
          box-shadow: 5px 10px 5px rgb(0, 0, 0);
          
      }
      .news{
          background: rgb(0, 0, 0);
          padding: 3em 0 3em 0;
          flex: 2 2 300px;
          height: 300px;
	      border:2px dotted black;
          margin: 10px;
          border-radius:25px;
          box-shadow: 5px 10px 5px rgb(158, 158, 158);
          overflow: hidden;
          
	 
      }
      .video{
        
         padding: 3em 0 3em 0;
         flex: 2 2 300px;
         height: 300px;
         margin: 10px;
         border-radius:25px;
         box-shadow: 5px 10px 5px rgb(109, 109, 109);
         overflow: hidden;

      }
      .video video {
        width: 100%;
        border-radius: 25px;
        margin-top: -50px;
        height: 305px;

    }
      .team{
          height: 100%;
          width: 100%;
      }
  
      header h1{
          
          margin-left: 140px;
          margin-top: -79px;
          text-shadow: 2px 2px 3px #2b2c2c;
          
      }
      header img{
          height: 130px;
      }
      header{
          height: 150px;
          position: fixed;
          width: 100%;
          font-weight: bold;

      }
    


/*************************************Navigation and Nav Icon ********************************************/





.nav101{
    border: 1px solid black ;
    width: 473px;
   
    float: right;
}


      nav{
        
        position:relative;
        margin-top: -30px;
       margin-left: 900px;
        width: 600px;
        height: 50px;
        background: #d6d6d6;
        border-radius: 8px;
        font-size: 0;
        box-shadow: 0 2px 3px 0 rgba(241, 0, 0, 0.1);
        



      }
      nav a {
          font-size: 15px;
          text-transform: uppercase;
          color: rgb(0, 0, 0);
          text-decoration: none;
          line-height: 50px;
          position: relative;
          z-index: 1;
          display: inline-block;
          text-align: center;

      }
      nav .animation{
          position:absolute;
          height: 100%;
          top: 0;
          z-index: 0;
          background: #00ffcc;
          
          border-radius: 8px;
      }

      a:nth-child(1){
          width: 100px;
      }
      nav .start-home,a:nth-child(1):hover~.animation {
          width: 100px;
          left: 0;

      }
     

      a:nth-child(2){
          width: 110px;
      }
      nav .start-home,a:nth-child(2):hover~.animation {
          width: 110px;
          left: 100px;

      }
      a:nth-child(3){
          width: 100px;
      }
      nav .start-home,a:nth-child(3):hover~.animation {
          width: 100px;
          left: 210px;

      }
      a:nth-child(4){
          width: 160px;
      }
      nav .start-home,a:nth-child(4):hover~.animation {
          width: 160px;
          left: 310px;

      }
      
        
            ul {list-style: none;
                 padding: 0px;
                 margin-left:-28px;
                width: 153px;}
            ul li {
                display: block;
                position:relative;
                float:left;
                border:1px solid rgb(0, 0, 0)}
            li ul {
                display:none;
            }
            ul li a  {
                display: block;
                 background:rgb(255, 255, 255);
                  padding:5px 10px 5px 20px;
              
                   text-decoration:
                    none;white-space:
                     nowrap; color:white;
                    }
            ul li a:hover  {
                background: #00ffcc;
            }
            li:hover ul {display:block;
                position: absolute;
                background:pink
            }
            li:hover li {float:none;
                background:#00ffcc;
                }
            li:hover a {
                background:#00ffcc;
            }
            li:hover li a:hover{
                background:black;
    
            } li:hover li:hover{
                background:black;
                }
            
            
            
            




  
.menu-list {
      display: none;
      list-style: none;
      padding: 0;
  }

  .menu-list.show {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 100%;
      right: 0;
      background-color: #f5f5f5;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }

  .menu-list li {
      margin: 0;
      padding: 0.5em 1em;
      border-bottom: 1px solid #ccc;
      text-align: center;
  }

  .menu-list li a {
      text-decoration: none;
      color: black;
  }
  .menu-list li:hover {
  background-color:#00ffcc;
}
nav .input1:hover{
    background-color:#00ffcc;
}
nav input{
    background-color: #ccc;
}
 .container {
          
    display: none;
    width: 100%;
    height: 100vh;
    align-items: top;
    justify-content: flex-end;
    margin-top: -50px;
    

    
 
}
.menu {
   
    height: 40px; 
    width: 40px; 
    margin: 8px;
    background-image: linear-gradient(to right, #e91e63, #f44336);
    border-radius: 5px;
    cursor: pointer;
}
.menu div {
    width: 50px; 
    height: 50px; 
    margin: 20px; 
    position: relative;
}
.menu span {
    background: #fff;
    width: 50%; 
    height: 2px;
    display: block;
    position: absolute;
    top: 20%;
    left: 20%;
}
.menu .line-1 {
    transform: translate(-88%, -20px);
}
.menu .line-2 {
    transform: translate(-88%, 0px);
}
.menu .line-3 {
    transform: translate(-88%, -10px);
}
/*****************************SlideShow****************************************************************************/
.slide{
    background: rgb(255, 255, 255);
    padding: 3em 0;
    flex: 6 6 450px;
    height: 500px;
    margin-top: 175px;
    margin-bottom: 20px;
    background-size: 100% 100%;
    box-shadow: 1px 2px 10px 5px black;
    animation: slider 20s infinite linear;
}

@keyframes slider {
    0% { background-image: url(Images/photo.jpg); }
    25% {background-image: url(Images/photo.jpg);}
    50% { background-image: url(Images/Pic1.jpg); } 
    75% { background-image: url(Images/Pic2.jpg); }
    100% { background-image: url(Images/pic4.jpg); }
   
}
/********************************Responsive*************************************************************************/









@media all and (max-width:1024px){
    .content{
        flex-direction: column;
    }
    .main{
        flex-direction: column;
    }
    main{
        padding:5em 0 5em 0;
    }
    .left{
        display: none;
    }
    .right{
        display: none;
    }
    nav{
        display: none;
    }
    .left2{
        display: none;
    }
    .right2{
        display: none;

    }
    .main2{
        flex-direction: column;
    }
    .container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    margin-top: -10px;
    
    }
    .menu-list.show {
      display:flex;
}
    .info-pres-card {
        display: block;
    }
    
}


@media all and (max-width:912px) {
    .content {
        flex-direction: column;
    }

    .main {
        flex-direction: column;
    }

    main {
        padding: 5em 0 5em 0;
    }

    .left {
        display: none;
    }

    .right {
        display: none;
    }

    nav {
        display: none;
    }

    .left2 {
        display: none;
    }

    .right2 {
        display: none;
    }

    .main2 {
        flex-direction: column;
    }

    .container {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: top;
        justify-content: flex-end;
        margin-top: -10px;
    }
    

.menu-list.show {
      display:flex;
}
    .info-pres-card {
        display: block;
    }
    
}
@media all and (max-width:540px ){
   
   
   .container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    margin-top: -50px;
  }
  .left2{
    display: none;
}
.right2{
    display: none;

}
.main2{
    flex-direction: column;
}
td{
    font-size: 9px;
}
    .info-pres-card {
        display: block;
    }
    

}


}@media all and (max-width:430px ){
    header h1{
    display: none;
   }
   .container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    margin-top: -50px;
  }
  .left2{
    display: none;
}
.right2{
    display: none;

}
.main2{
    flex-direction: column;
}

td{
    font-size: 9px;
}
    .info-pres-card {
        display: block;
    }
    

}


@media all and (max-width:390px ){
    header h1{
    display: none;
   }
   .container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    margin-top: -50px;
  }
  .left2{
    display: none;
}
.right2{
    display: none;

}
.main2{
    flex-direction: column;
}
.news{
    overflow:scroll;
}
td{
    font-size: 9px;
}
.info-card{
display:block;
}
    .info-pres-card {
        display: block;
    }


}


@media all and (max-width:360px ){
   
   
   .container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    margin-top: -50px;
  }
  .left2{
    display: none;
}
.right2{
    display: none;

}
.main2{
    flex-direction: column;
}
td{
    font-size: 7px;
}


.card{
display:none;}
    .info-pres-card {
        display: block;
    }
    

}


@media all and (max-width:280px ){
   
   
   .container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    margin-top: -50px;
  }
  .left2{
    display: none;
}
.right2{
    display: none;

}
.main2{
    flex-direction: column;
}
td{
    font-size: 5px;
}

    .info-pres-card {
        display: block;
    }
    

}

/********************************************player card*************************************************************/

.card{
    width: 320px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    border: 8px solid #ffffff;
    position: relative;
    
}

.card-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;

}
.content-card{
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    position: absolute;
    background: #1f3d4738;
    backdrop-filter: blur(5px);
    border-radius: 15px;


}
.card:hover .content-card{
    right:0;
}


.playersname{
    color: red;
    padding-top: 15px;
    margin-left: 5px;
    flex-direction: row;
}
.playersstat{
    font-size: 30px;
    color: aliceblue;
    flex-direction: row;
}
.member-wrap{
    margin: 200px;
    display: flex;
flex-wrap: wrap;
justify-content: space-around;
}
/********************************************Fotter*************************************************************/


      footer{
       
          position: fixed;
          bottom: 0;
          background: rgb(0, 0, 0);
          padding: 1em 0 1em 0;
          width: 100%;
          color: white; 
          text-align: center; 
          font-size: 13px;
      
      }
      .copyRight{
        font-size: 13px;
       
      }
  